html,
body {
  height: 100%;
  font-size: 16px;
  background: url("../image/pattern.jpg");
}

/* FONT FACES */
@font-face {
  font-family: "cubano-Regular";
  src: local("cubano-Regular.otf"), url("Cubano-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular.ttf"), url("Nunito-Regular.ttf") format("truetype");
}

/* section cover */
#cover {
  height: 100%;
  background: url("../image/trees.jpg") center center/cover no-repeat;
  color: white;
}

.wall-sticker {
  padding: 8rem 4rem 6rem 2rem;
  font-size: 35px;
  color: white;
  background-color: rgba(0, 0, 0, 0.372);
  font-family: "cubano-Regular";
}

.moto {
  font-family: "cubano-Regular";
  font-size: 22px;
  margin-left: 150px;
  margin-top: 150px;
  text-align: center;
}

/* Buttons */

.btn-lg {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(19, 128, 26, 1);
  font-family: "Nunito-Regular";
  font-size: 13px;
  padding-top: 0;
  padding: 0 9px;
  padding-bottom: 8px;
  transition: 0.5s;
}

.btn-lg:hover,
.btn-lg:active,
.btn-lg:focus {
  background-color: rgba(19, 128, 36, 0.54);
  border: 1px solid rgba(19, 128, 26, 0);
  transition: 0.5s;
}

.fa-arrow-down {
  margin-left: 420px;
  color: white;
  margin-top: 25px;
  transition: 0.3s;
}

.fa-arrow-down:hover {
  color: rgba(19, 128, 36, 0.54);
  transition: 0.3s;
}

/* SPANS */
.bold-green {
  color: rgba(19, 128, 36, 1);
}

.green-underline {
  border-bottom: 1px solid rgba(19, 128, 36, 1);
}
